<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <form action="/deploy" method="POST">
        <p>Token Name: </p><input id="tokenname" name="tokenname" type="text" ><br/>
        <p>Token Symbol: </p><input id="tokensym" name="tokensym" type="text" ><br/>
        <p>Token Initial Supply: </p><input id="initsupp" name="initsupp" type="number" ><br/>
        <br/>
        <button id="deploybutton" type="submit">Deploy</button>
    </form>
</body>

</html>